.page-nav
  - const rootPath = page.tag ? `/tags/${page.tag}` : '/'
  - const pagePath = page.tag ? `/tags/${page.tag}/page/` : '/page/'
  if (page.current ===  1)
    a.page-nav__button.current
      | 1
    if (page.total > 1)
      a.page-nav__button(href=url_for(`${pagePath}2`))
        | 2
    if (page.total > 2)
      a.page-nav__button(href=url_for(`${pagePath}3`))
        | 3
    if (page.total > 4)
      .page-nav__kebab
        img(src='/img/kebab_horizontal.svg')
    if (page.total > 3)
      a.page-nav__button(href=url_for(`${pagePath}${page.total}`))
        = page.total
  else if (page.current === 2)
    a.page-nav__button(href=url_for(rootPath))
      | 1
    a.page-nav__button.current
      | 2
    a.page-nav__button(href=url_for(`${pagePath}3`))
      | 3
    .page-nav__kebab
      img(src='/img/kebab_horizontal.svg')
    a.page-nav__button(href=url_for(`${pagePath}${page.total}`))
      = page.total
  else if (page.current === 3)
    a.page-nav__button(href=url_for(rootPath))
      | 1
    a.page-nav__button(href=url_for(`${pagePath}2`))
      | 2
    a.page-nav__button.current
      | 3
    a.page-nav__button(href=url_for(`${pagePath}4`))
      | 4
    .page-nav__kebab
      img(src='/img/kebab_horizontal.svg')
    a.page-nav__button(href=url_for(`${pagePath}${page.total}`))
      = page.total
  else if (page.current === page.total - 2)
    a.page-nav__button(href=url_for(rootPath))
      | 1
    .page-nav__kebab
      img(src='/img/kebab_horizontal.svg')
    a.page-nav__button(href=url_for(`${pagePath}${page.current - 1}`))
      = page.current - 1
    a.page-nav__button.current
      = page.current
    a.page-nav__button(href=url_for(`${pagePath}${page.current + 1}`))
      = page.current + 1
    a.page-nav__button(href=url_for(`${pagePath}${page.total}`))
      = page.total
  else if (page.current === page.total - 1)
    a.page-nav__button(href=url_for(rootPath))
      | 1
    .page-nav__kebab
      img(src='/img/kebab_horizontal.svg')
    a.page-nav__button(href=url_for(`${pagePath}${page.current - 1}`))
      = page.current - 1
    a.page-nav__button.current
      = page.current
    a.page-nav__button(href=url_for(`${pagePath}${page.total}`))
      = page.total
  else if (page.current === page.total)
    a.page-nav__button(href=url_for(rootPath))
      | 1
    .page-nav__kebab
      img(src='/img/kebab_horizontal.svg')
    a.page-nav__button(href=url_for(`${pagePath}${page.current - 2}`))
      = page.current - 2
    a.page-nav__button(href=url_for(`${pagePath}${page.current - 1}`))
      = page.current - 1
    a.page-nav__button.current
      = page.current
  else
    a.page-nav__button(href=url_for(rootPath))
      | 1
    .page-nav__kebab
      img(src='/img/kebab_horizontal.svg')
    a.page-nav__button(href=url_for(`${pagePath}${page.current - 1}`))
      = page.current - 1
    a.page-nav__button.current
      = page.current
    a.page-nav__button(href=url_for(`${pagePath}${page.current + 1}`))
      = page.current + 1
    .page-nav__kebab
      img(src='/img/kebab_horizontal.svg')
    a.page-nav__button(href=url_for(`${pagePath}${page.total}`))
      = page.total
